Flask
flask-cors
python-dotenv
requests
openai
pydantic
requests_oauthlib
langchain
langchain-openai
langchain-community
praw
langchain-community
youtube_transcript_api
pytube
beautifulsoup4
pandas
plotly
sqlalchemy
llama_index
textblob
scrapetube
cachetools
tiktoken
werkzeug
llama-index-embeddings-langchain
termcolor
watchdog
nltk
langsmith
spacy
statsmodels
coinpaprika-sdk
seaborn