Flask
flask-cors
python-dotenv
requests
openai
pydantic
requests_oauthlib
langchain
langchain-openai
praw
langchain-community
youtube_transcript_api
pytube
slack_sdk
beautifulsoup4
pandas
logging
plotly
sqlalchemy
searcheapi
